<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="{{ asset('bundles/app/assets/img/footer-logo.png') }}" alt=""></a></div>
        <span class="copyright">&copy; Knight Theme. All Rights Reserved</span>
    </div>
</footer>