<header class="header" id="header">
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a><img src="{{ asset('bundles/app/assets/img/logo.png') }}" alt=""></a>
        </figure>
        {% if app.user %}
            <h1 class="animated fadeInDown delay-07s">{{ saluto }} {{ app.user.nome }} {{ app.user.cognome }}</h1>
        {% else %}
            <h1 class="animated fadeInDown delay-07s">Benvenuto</h1>
        {% endif %}
        <ul class="we-create animated fadeInUp delay-1s">
            <li>We are a digital agency that loves crafting beautiful websites.</li>
        </ul>
        <a class="link animated fadeInUp delay-1s" href="#">Get Started</a>
    </div>
</header>